{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}

<main>
    <div>
        <h1>My Projects</h1>
        <p>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </p>
        {% if projects|length == 0 %}
            <p>You are not assigned to any projects</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Number of tasks</td>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <td><a href="{% url 'show_project' project.id%}">{{project.name}}</a></td>
                            <td>{{project.tasks.count}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</main>
<footer></footer>
{% endblock content%}
